<div class="column">
  <section class="hero is-info welcome is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title main">
                Personal Task List
              </h1>
        <h2 class="subtitle main">
                See your Task List below
              </h2>
      </div>
    </div>
  </section>
  <br>
  <section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">
            {{#each completedCount}}{{this.dataValues.sum_points}}{{/each}}
          </p>
          <p class="subtitle">Score</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">
            {{#each completedCount}}{{this.dataValues.completed_tasks}}{{/each}}
          </p>
          <p class="subtitle">Tasks Completed</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">
            {{#each incompleteCount}}{{this.dataValues.incomplete_tasks}}{{/each}}
          </p>
          <p class="subtitle">Remaining Tasks</p>
        </article>
      </div>
    </div>
  </section>

  <div class="columns">
    <div class="column is-12">
      <div class="card">
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody>
                <tr>
                  <th>Task</th>
                  <th>Due Date</th>
                  <th>Points</th>
                  <th>Completed?</th>
                </tr>
                {{#each tasks}}
                  <tr>
                    <td>{{this.description}}</td>
                    <td>{{this.date_due}}</td>
                    <td>{{this.points}}</td>
                    {{#if this.completed}}
                      <td><a class="button is-small is-primary" href="#">Completed!</a></td>
                    {{/if}}
                    {{#unless this.completed}}
                      <td><a class="button is-small is-danger" href="#">Incomplete</a></td>
                    {{/unless}}
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </tbody>
    </table>
  </div>
